extends layout

block prepend title
  | #{ page.title + " – "}

block header
  a.brand(href=locals.url, rel='home')= locals.name
  h1= page.title

block content
  article.post
    p.date
      span= moment(page.date).utc().format('LL')
    section.post-body!= typogr(page.html).typogrify()
