extends layout

block content
  aside#about
    :markdown
      This [Guild Wars 2](https://www.guildwars2.com/en/) blog aims to provide interesting
      articles and useful tools for other players. Everything posted is written by me, **Sayana**,
      a London–based web developer and GW2 player on the **Aurora Glade** server.
      Read more [about Black Lion Chest](/about.html) or [view a list of old posts](/archive.html).

  nav
    if nextPage
      a(href=nextPage.url).older Older posts
    if prevPage
      a(href=prevPage.url).newer Newer posts

  each article in articles
    article.post
      header
        h2
          a(href=article.url)= article.title
      section.post-body
        p.date
          span= moment(article.date).utc().format(locals.dateFormat)
        !{ typogr(article.html).typogrify() }

  nav
    if nextPage
      a(href=nextPage.url).older Older posts
    if prevPage
      a(href=prevPage.url).newer Newer posts
