extends layout

block content
  aside#about
    :markdown
      This is a [Guild Wars 2](https://www.guildwars2.com/en/) fan–site hoping to provide interesting articles
      and useful tools for other players. I currently play on Aurora Glade, and built [Bounty Hunter](http://mythlan.co.uk/gw2/bountyhunter/).
      Quality subject to RNG.

  each article in articles
    article.post
      header
        h2
          a(href=article.url)= article.title
      section.post-body
        p.date
          span= moment(article.date).utc().format(locals.dateFormat)
        !{ typogr(article.html).typogrify() }
  nav#pagination
    if nextPage
      a(href=nextPage.url) « Older
    if prevPage
      a(href=prevPage.url) Newer »
